@page "/"

<h1>Repo Skill Miner</h1>
<div class="w-auto center">
    <img src="images/miner.jpg" class="w-25" />

    <article class="w-50">
        RepoSkillMiner is a scalable and easy-to-use web application that can determine the knowledge  in terms of low-level skills
        such as the command of specific programming techniques or frameworks,held by individual developers in an open-source software project.
    </article>

</div>
    <a href="http://www.freepik.com">Image designed by macrovector / Freepik</a>
